<div class="container-fluid col-xxl-8 px-4 py-5 bg-dark  position-relative w-100
" style="background-image: url('../../assets/myphoto.jpg'); background-size: cover; background-position: center;">
  <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></div>
  <div class="position-relative z-1 row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6 bg-dark">

    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3 text-light mb-5">Mustafa Ashraf</h1>
      <h3 class="text-light mb-5">Software Engineer</h3>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a target="_blank" href="https://www.linkedin.com/in/mustafa-ashraf-1041981b0/"><button type="button" class="btn bg-danger-subtle
          text-dark btn-lg px-4 me-md-2">Contact Me</button></a>
      </div>
    </div>
  </div>
</div>