<div class="container p-5">
  <div class="row mb-5 container align-items-streatch">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 bg-dark text-light">
        <img
          src="https://img.freepik.com/free-photo/online-message-blog-chat-communication-envelop-graphic-icon-concept_53876-139717.jpg"
          class="card-img-top" alt="...">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Blog-App using spring boot</h5>
          <p class="card-text">A robust and scalable blog application built using Spring Boot, designed to provide a
            seamless experience for creating, managing, and publishing blog posts.
          </p>
          <a href="https://github.com/Mustafa-Ashraf751/Blog-Application" class="btn btn-primary mt-auto">Source
            code</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100">
        <img src="https://img.freepik.com/free-photo/showing-cart-trolley-shopping-online-sign-graphic_53876-133967.jpg"
          class="card-img-top" alt="...">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">E-commerce using spring boot</h5>
          <p class="card-text">The E-Commerce Application is built using Java and Spring Boot, with security,
            scalability, and ease of maintenance.</p>
          <a href="https://github.com/Mustafa-Ashraf751/E-Commerce-RestAPI" class="btn btn-primary mt-auto">Source
            code</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 ">
      <div class="card  h-100 bg-dark text-light">
        <img src="https://miro.medium.com/v2/resize:fit:1200/1*4cCVl11ZuULno6nH0Far1A.png" class="card-img-top"
          alt="photo">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Mini-Library-System using spring boot</h5>
          <p class="card-text">A lightweight and efficient library management system designed to handle basic library
            operations such as adding, updating, and deleting books, managing members, and tracking book borrowings and
            returns.</p>
          <a href="https://github.com/Mustafa-Ashraf751/Spring-boot-mini-projects/tree/main/librarymangement"
            class="btn btn-primary mt-auto">Source code</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center container align-items-center">
    <div class="col-12 col-md-5">
      <div class="card  h-100">
        <img src="https://pics.clipartpng.com/Dice_Set_PNG_Clip_Art-2672.png" class="card-img-top w-75" alt="photo">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Dice game using JavaScript</h5>
          <p class="card-text">A fun and interactive two-player dice game where players take turns rolling a virtual
            dice, and the first one to reach a target score wins. Built using HTML, CSS, and JavaScript, this game
            features dynamic DOM manipulation</p>
          <a href="https://github.com/Mustafa-Ashraf751/Dice-game" class="btn btn-primary mt-auto">Source code</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5">
      <div class="card  h-100 bg-dark text-light">
        <img
          src="https://media.istockphoto.com/id/978588970/photo/hand-with-pen-writes-word-money-white-isolated-background.jpg?s=612x612&w=0&k=20&c=cRCPsAWLcW53dyzmkhUzspDiYFF72h6HEvXB1EIoBmI="
          class="card-img-top" alt="photo">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Hangman game using JavaScript</h5>
          <p class="card-text">A classic word-guessing game where players try to guess a hidden word by suggesting
            letters within a limited number of attempts. Built using HTML, CSS, and JavaScript, this game
            dynamically updates the display to show correctly guessed letters, track incorrect guesses</p>
          <a href="https://github.com/Mustafa-Ashraf751/HTML-CSS-JS-Labs/tree/main/js_lab3"
            class="btn btn-primary mt-auto">Source code</a>
        </div>
      </div>
    </div>

  </div>
</div>