<div class="bg-light text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <div class="row align-items-center">
      <div class="col-4 justify-content-between">
        <h1 class="display-5 fw-bold text-dark">About Me</h1>
      </div>
      <div class="col-8 ">
        <p class="fs-10 mb-4 text-start">Software Engineer with a passion for creating efficient,
          scalable, and user-friendly
          applications. Equipped with a solid understanding of software development principles and best practices, I
          have
          hands-on experience in building backend systems, managing databases, and developing secure APIs. My focus on
          continuous learning has allowed me to stay updated with industry trends and deliver solutions that meet modern
          technological demands. I thrive in collaborative environments and am eager to contribute my skills to
          innovative
          projects, while continuously growing both personally and professionally.</p>
      </div>
    </div>

    <div class="col-lg-6 mx-auto">

      <div class="d-grid gap-2 d-sm-flex justify-content-sm-start">
        <a href="../../assets/Mustafa-Ashraf-CV .pdf" download="">
          <button type="button" class="btn btn-outline-dark btn-lg px-4 btn-dark text-light">Download</button>
        </a>
      </div>
    </div>
  </div>
</div>