<div class="container-fluid bg-dark text-white p-5">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div>
      <p>Get In Touch</p>
      <div class="col-md-4 d-flex align-items-center mb-3">
        <a href="#" class="mb-3 me-2 mb-md-0 text-white text-decoration-none lh-1">
          <i class="fa-solid fa-envelope"></i>
        </a>
        <span class="mb-3 mb-md-0 text-white">mustafaashraf9888&#64;gmail.com</span>
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <a href="#" class="mb-3 me-2 mb-md-0 text-white text-decoration-none lh-1">
          <i class="fa-solid fa-phone"></i>
        </a>
        <span class="mb-3 mb-md-0 text-white">01100998127</span>
      </div>
    </div>

    <div>
      <div class="d-flex justify-content-center">
        <ul class="nav list-unstyled d-flex">
          <li class="ms-3"><a class="text-white" href="#"><i class="fab fa-facebook"></i>
            </a></li>
          <li class="ms-3"><a class="text-white" href="#"> <i class="fab fa-twitter"></i> </a></li>
          <li class="ms-3"><a class="text-white" target="_blank"
              href="https://www.linkedin.com/in/mustafa-ashraf-1041981b0/"> <i class="fab fa-linkedin"></i>
            </a></li>
        </ul>
      </div>
      <p>&copy; 2024 Company, Inc</p>
    </div>

  </footer>
</div>