.rounded-circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border: 3px solid #e0dddd;
}

.increase-border {
  border-radius: 40px;
}
