<div class="bg-primary text-light p-5">
  <div class="d-flex justify-content-end">
    <h1>TO-Do App !</h1>
  </div>
  <form (ngSubmit)="taskToWrapper(taskInput.value)">
    <div class="mb-3">
      <label for="exampleInputText" class="form-label fw-bold">Add-new-To-Do</label>
      <input type="text" class="form-control" #taskInput id="exampleInputText" aria-describedby="textHelp"
        placeholder="Enter new task">
    </div>
    <div class="d-flex justify-content-end"><button type="submit"
        class="btn btn-primary fw-bold border border-light">Add</button></div>
  </form>
</div>
