<div class="container-fluid bg-dark w-100">
  <div class="row text-light justify-content-center p-5">
    <div class="col-10 text-center">
      <h1>Skills</h1>
    </div>
    <div class="col-10">
      <p>Developer with skills in Java, Spring boot, Spring jpa , Spring security , HTML ,CSS , Javascript and MySQL an
        are in
        high
        demand in
        the tech industry.
        These
        technologies are used to build a wide range of websites and applications, from simple blogs to complex
        e-commerce platforms</p>
    </div>
  </div>

  <div class="row text-light align-items-start">
    <div class="col text-center">
      <h3 class="p-3 border-bottom border-light w-50 mx-auto">My Focus</h3>
      <h6 class="p-3">Web Design</h6>
      <h6 class="p-3">Responsive Design</h6>
      <h6 class="p-3">mobile App Design</h6>

    </div>
    <div class="col ">

      <div class="d-flex align-items-center mb-3">
        <span class="me-3">Java</span>
        <div class="progress flex-grow-1 border border-light bg-light" role="progressbar" aria-label="Basic example"
          aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-primary" style="width: 70%"></div>
        </div>
      </div>
      <div class="d-flex align-items-center mb-3">
        <span class="me-3">HTML</span>
        <div class="progress flex-grow-1 border border-light bg-light" role="progressbar" aria-label="Basic example"
          aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-primary" style="width: 70%"></div>
        </div>
      </div>
      <div class="d-flex align-items-center mb-3">
        <span class="me-3">CSS</span>
        <div class="progress flex-grow-1 border border-light bg-light" role="progressbar" aria-label="Basic example"
          aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-primary" style="width: 60%"></div>
        </div>
      </div>
      <div class="d-flex align-items-center mb-3">
        <span class="me-3">MYSQL</span>
        <div class="progress flex-grow-1 border border-light bg-light" role="progressbar" aria-label="Basic example"
          aria-valuenow="0" aria-valuemin="0" aria-valuemax="60">
          <div class="progress-bar bg-primary" style="width: 70%"></div>
        </div>
      </div>
      <div class="d-flex align-items-center mb-3">
        <span class="me-3">JavaScript</span>
        <div class="progress flex-grow-1 border border-light bg-light" role="progressbar" aria-label="Basic example"
          aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-primary" style="width: 50%"></div>
        </div>
      </div>
      <div class="d-flex align-items-center mb-3">
        <span class="me-3">Spring boot</span>
        <div class="progress flex-grow-1 border border-light bg-light" role="progressbar" aria-label="Basic example"
          aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-primary" style="width: 60%"></div>
        </div>
      </div>
      <div class="d-flex align-items-center mb-3">
        <span class="me-3">Spring Jpa</span>
        <div class="progress flex-grow-1 border border-light bg-light" role="progressbar" aria-label="Basic example"
          aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-primary" style="width: 60%"></div>
        </div>
      </div>
      <div class="d-flex align-items-center mb-3">
        <span class="me-3">Spring security</span>
        <div class="progress flex-grow-1 border border-light bg-light" role="progressbar" aria-label="Basic example"
          aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-primary" style="width: 40%"></div>
        </div>
      </div>






    </div>
  </div>

</div>